/*Features section styles*/

#features{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgb(180, 224, 184);
}

#features-info{
  width: 30%;
  height: 100%;
  padding: 5%;
  box-sizing: border-box;
}

#features-heading{
  font-size: 3vw;
}

.feature{
  font-size: 1.5vw;
  padding: 1%;
}

#feature-kaomoji{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 7vw;
}